:root {
	--primary: black; /* Primary color */
	--secondary: #3d3d3d; /* Secondary color */
	--success: #129a14; /* Success color */
	--accent: #d55d27; /* Accent color */
	--blue: #0105ec;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* Overriding autofill defaults */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	-webkit-box-shadow: 0 0 0 30px var(--primary) inset !important;
	-webkit-text-fill-color: white !important;
}

@font-face {
	font-family: "SF Pro Display", Arial, sans-serif;
	src: url("SFProDisplay-Regular.woff2") format("woff2"),
		url("SFProDisplay-Regular.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

body,
html {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--primary); /* Set background color */
	font-family: "SF Pro Display", fallback, sans-serif;
}

input {
	font-size: 1em;
	width: 100%;
	flex: 1;
	padding: 1em;
	background-color: var(--primary); /* Set input background color */
	border: 2px solid var(--secondary); /* Set input border */
	outline: none;
	box-shadow: none;
	border-radius: 1em;
	color: white; /* Set input text color */
}

input::placeholder {
	color: white; /* Set input placeholder color */
}

input:focus {
	border: 2px solid var(--success); /* Set input border color on focus */
	box-shadow: none;
}

.button-primary {
	max-width: 343px;
	width: 100%;
	height: 56px;
	font-size: 1em;
	font-weight: bold;
	padding: 1em;
	border-radius: 1em;
	cursor: pointer;
	border: none;
	color: black; /* Set button text color */
	transition: 0.1s;
}

.button-primary:hover {
	background-color: #d55d27; /* Set button background color on hover */
	color: white; /* Set button text color on hover */
}

.background {
	background: url("Asset.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
}

.layout {
	text-align: start;
	color: white; /* Set text color */
	width: 100%;
	max-width: 43.5em;
	margin-inline: auto;
	margin-block: auto;
}

.title {
	font-style: normal;
	font-weight: 700;
	font-size: 3em; /* Set font size */
	letter-spacing: -0.02em;
	text-align: left;
	margin-bottom: 36px;
}

.description {
	font-style: medium;
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 100%;
	margin-bottom: 48px;
}

.description-small {
	font-size: 0.875em;
	margin-bottom: 48px;
}

.form-container {
	width: 100%;
	max-width: 696px;
	margin: auto;
}

.input-grid {
	display: grid;
	width: 100%;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, auto);
	column-gap: 10px;
	row-gap: 12px;
	margin-bottom: 8px;
}

.input-grid > .full-width {
	grid-column: 1 / span 2;
}

.confirmation-message {
	color: white; /* Set confirmation message text color */
}

/* extra large screens */
@media screen and (max-width: 1200px) {
	.layout {
		width: 100%;
		max-width: 900px;
	}
}

/* large screens */
@media screen and (max-width: 992px) {
	.layout {
		max-width: 728px;
	}
}

/* medium screens */
@media screen and (max-width: 768px) {
	.layout {
		max-width: 540px;
	}

	.title {
		font-size: 2.5em;
	}

	.description {
		font-size: 20px;
	}
}

/* small screens */
@media screen and (max-width: 576px) {
	.layout {
		width: 100%;
		padding-inline: 1em;
	}
	.background {
		background-attachment: local;
	}
	.input-grid {
		grid-template-columns: 1fr;
	}

	.input-grid {
		display: flex;
		flex-direction: column;
	}
	.description {
		font-size: 16px;
	}
}
