:root {
	--primary: black;
	--secondary: #3d3d3d;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* overriding autofill defaults */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	-webkit-box-shadow: 0 0 0 30px var(--primary) inset !important;
	-webkit-text-fill-color: white !important;
}

@font-face {
	font-family: "SF Pro Display", Arial, sans-serif;
	src: url("your-font-file.woff2") format("woff2"),
		url("your-font-file.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

body,
html {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--primary);
	font-family: "SF Pro Display", fallback, sans-serif;
}

input {
	font-size: 1em;
	flex: 1;
	margin-block: 0.5em;
	padding: 1em;
	background-color: var(--primary);
	border: 1px solid var(--secondary);
	outline: none;
	box-shadow: none;
	border-radius: 1em;
	color: white;
}

input::placeholder {
	color: white;
}

input:focus {
	border: 1px solid white;
	box-shadow: none;
}

button {
	width: 343px;
	height: 56px;
	font-size: 1em;
	padding: 1em;
	border-radius: 1em;
	cursor: pointer;
	border: none;
	color: black;
	transition: 0.1s;
}

.background {
	background: url("Asset.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
}

.layout {
	text-align: start;
	padding: 2em;
	color: white;
	width: 43.5em;
	margin-inline: auto;
	margin-block: auto;
}

.title {
	font-style: normal;
	font-weight: 700;
	font-size: 3em;
	letter-spacing: -0.02em;
	text-align: left;
}

.description {
	margin-block: 1em;
	font-style: normal;
	font-weight: 500;
	font-size: 1.5em;
	line-height: 100%;
}

.description-small {
	font-size: 0.875em;
	margin-bottom: 3em;
}

.form-container {
	width: 100%;
	max-width: 43.5em;
	margin: auto;
}

.grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, auto);
	column-gap: 1em;
}

.grid > .full-width {
	grid-column: 1 / span 2;
}

.confirmation-message {
	color: black;
}

@media screen and (max-width: 1200px) {
	.layout {
		width: 100%;
		max-width: 900px;
	}
}

@media screen and (max-width: 992px) {
	.layout {
		max-width: 728px;
	}
}

@media screen and (max-width: 768px) {
	.layout {
		max-width: 540px;
	}
}

@media screen and (max-width: 576px) {
	.layout {
		max-width: 100%;
		padding: 1em;
	}
}
